Buongiorno #{@user.label},

sono presenti nuovi eventi programmati per Lei dalla Segreteria Medica.

Per visualizzare e confermare gli eventi seguire il link: #{Settings.app.url}
- if @meeting.proposed?
  = t('expire', scope: 'message.email', default: 'This alert expire at %{date}', date: l(@event.date_on+(Settings.events.meetings.deletable.days).days))

Comparira' l'indicazione circa la data e l'ora di effettuazione delle Analisi(si precisa che il giorno della settimana stabilito per l'esecuzione degli esami è SEMPRE il MARTEDI').
\#{Settings.events.analisys.description}

Cliccando su "PROPOSTA" si convalida l'appuntamento, in caso fosse necessario programmare una data alternativa, si prega invece di scrivere all'indirizzo e-mail: #{Settings.email}

Si prega, infine di indicare nello spazio "Emergenze" che compare nel box Informazioni Generali un numero di telefono cellulare per eventuali comunicazioni urgenti.
