%p
  Buongiorno #{@user.label},
%p sono presenti nuovi eventi programmati per Lei dalla Segreteria Medica.
%p
  Per visualizzare e confermare gli eventi seguire il link:
  %br/
  %a{:href => "#{Settings.app.url}"}= Settings.app.url
  - if @meeting.proposed?
    %br/
    = t('expire', scope: 'message.email', default: 'This alert expire at %{date}', date: l(@event.date_on+(Settings.events.meetings.deletable.days).days))
%p
  Comparira' l'indicazione circa la data e l'ora di effettuazione delle Analisi (
  %u> si precisa che il giorno della settimana stabilito per l'esecuzione degli esami è SEMPRE il MARTEDI'
  ).
%p= Settings.events.analisys.description
%p
  Cliccando su "PROPOSTA" si
  %b
    %u convalida
  l'appuntamento, in caso fosse necessario programmare una data alternativa, si prega invece di scrivere all'indirizzo e-mail:
  %a{:href => "mail_to:#{Settings.email}"}= Settings.email
%p Si prega, infine di indicare nello spazio "Emergenze" che compare nel box Informazioni Generali un numero di telefono cellulare per eventuali comunicazioni urgenti.
