%h2 Resend unlock instructions
= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label Settings.auth.field
    %br/
    = f.email_field Settings.auth.field, autofocus: true, autocomplete: Settings.auth.field
  .actions
    = f.submit "Resend unlock instructions"
= render "devise/shared/links"
