.fixed-grid
  .grid
    .cell
      .field.is-horizontal
        .field-label
          %label.label= fas_icon('barcode', text: t('cf', scope: 'user')+': ')
        .field-body
          .field
            .control.is-expanded= user.cf unless user.cf.blank?
      .field.is-horizontal
        .field-label
          %label.label= fas_icon('calendar', text: t('born_date', scope: 'user')+': ')
        .field-body
          .field
            .control.is-expanded= user.data_nasc.blank? ? 'n.d.' : user.data_nasc.to_date.strftime('%d/%m/%Y')
      .field.is-horizontal
        .field-label
          %label.label= fas_icon('map-marker', text: t('born_city', scope: 'user')+': ')
        .field-body
          .field
            .control.is-expanded= user.citta_nasc.blank? ? 'n.d.' : user.citta_nasc
      .field.is-horizontal
        .field-label
          %label.label= fas_icon('phone', text: t('personal_tel', scope: 'user')+': ')
        .field-body
          .field
            .control.is-expanded= user.tel.blank? ? 'n.d.' : user.tel
    .cell
      .field.is-horizontal
        .field-label
          %label.label= fas_icon('envelope', text: t('email', scope: 'user')+': ')
        .field-body
          .field
            .control.is-expanded
              = user.email.blank? ? "<span class=\"has-text-danger has-text-weight-extrabold tooltip has-tooltip-arrow\" data-tooltip=\"Attenzione, l'assenza dell'indirizzo e-mail compromette la possibilità\nper il sistema di inoltrare le comunicazioni tramite posta elettronica.\"><i class=\"fa-solid fa-triangle-exclamation\" ></i> Non disponibile </span>".html_safe : "<a href='mailto:#{user.email}'>#{user.email}</a>".html_safe
      .field.is-horizontal
        .field-label
          %label.label= fas_icon('building', text: t('office', scope: 'user')+': ')
        .field-body
          .field
            .control.is-expanded= user.location.blank? ? 'n.d.' : user.location
      .field.is-horizontal
        .field-label
          %label.label= fas_icon('phone', text: t('telephone', scope: 'user')+': ')
        .field-body
          .field
            .control.is-expanded= user.telephone.blank? ? 'n.d.' : user.telephone
      .field.is-horizontal
        .field-label
          %label.label= fas_icon('sitemap', text: t('structure', scope: 'user')+': ')
        .field-body
          .field
            .control.is-expanded= user.structure.blank? ? 'n.d.' : user.structure
      .field.is-horizontal
        .field-label
          %label.label= fas_icon('pen-square', text: t('note', scope: 'user')+': ')
        .field-body
          .field
            .control.is-expanded= user.body
