- if @user.new_record?
  - url = users_path
  - method = 'post'
- elsif @user.persisted?
  - url = external_user_path
  - method = 'put'
.box
  = form_with model: @user, :url => url, method: method do |f|
    .form-inputs
      - if Devise.mappings[:user].database_authenticatable? && (current_user.admin? || current_user.secretary? || current_user.doctor?)
        .columns.has-2
          .column
            .field
              %label.label= t('username', scope: 'user')
              .control.is-expanded= f.text_field :username, placeholder: t('username', scope: 'user'), class: 'input'
          .column
            .field
              %label.label= t('new', scope: 'user.password')
              .control.is-expanded= f.text_field :password, placeholder: t('new', scope: 'user.password'), class: 'input'
      .columns.has-2
        .column
          .field
            %label.label.is-required= t('lastname', scope: 'user')
            .control.is-expanded= f.text_field :lastname, placeholder: t('lastname', scope: 'user'), class: 'input'
        .column
          .field
            %label.label.is-required= t('name', scope: 'user')
            .control.is-expanded= f.text_field :name, placeholder: t('name', scope: 'user'), class: 'input'
      .columns.has-4
        .column
          .field
            %label.label.is-required= t('cf', scope: 'user')
            .control.is-expanded= f.text_field :cf, placeholder: t('cf', scope: 'user'), maxlength: 16, class: 'input'
        .column
          .field
            %label.label= t('email', scope: 'user')
            .control.is-expanded= f.text_field :email, placeholder: t('email', scope: 'user'), class: 'input'
        .column
          .field
            %label.label= t('office', scope: 'user')
            .control.is-expanded
              .select.is-fullwidth= f.select :city, t_enum(User.cities, 'user.cities'), { include_blank: false }, {}
        .column
          .field
            %label.label= t('sex', scope: 'user')
            .control.is-expanded
              .select.is-fullwidth= f.select :sex, [['Maschio','M'],['Femmina','F']], { include_blank: false }, {}
      .columns
        .column
          .field
            %label.label= t('note', scope: 'user')
            .control.is-expanded= f.text_area :body, class: 'textarea has-fixed-size'
    .form-actions
      .columns
        .column= f.submit icon: 'save', value: 'Salva utente', class: 'button is-fullwidth is-link'

%article.message
  %h5.title.is-5.has-text-centered.message-header Attenzione
  .message-body
    %p.has-text-justify= Settings.action_job.user.form_message.html_safe
