#user.container
  %article.message
    .message-header= t('general_informations', scope: 'user')
    .message-body
      %ul
        %li.columns.is-mobile
          .column.is-2-desktop.is-4-tablet.is-nowrap= fas_icon('user', text: t('fullname', scope: 'user')+': ')
          .column= @user.label unless @user.label.blank?
        %li.columns.is-mobile
          .column.is-2-desktop.is-4-tablet.is-nowrap= fas_icon('barcode', text: t('cf', scope: 'user')+': ')
          .column= @user.cf unless @user.cf.blank?
        %li.columns.is-mobile
          .column.is-2-desktop.is-4-tablet.is-nowrap= fas_icon('credit-card', text: t('matr', scope: 'user')+': ')
          .column= @user.matr unless @user.matr.blank?
        %li.columns.is-mobile
          .column.is-2-desktop.is-4-tablet.is-nowrap= fas_icon('sitemap', text: t('structure', scope: 'user')+': ')
          .column= @user.structure unless @user.structure.blank?
        %li.columns.is-mobile
          .column.is-2-desktop.is-4-tablet.is-nowrap= fas_icon('phone-volume', text: t('personal_tel', scope: 'user')+': ')
          .column.is-3-desktop.is-5-tablet= @user.emergenze
          .column
            %a{ data: { action: 'click->page#confirmation', page_url: "#{ Settings.rubrica }", page_confirmation: t( 'alternative_confirm', scope: 'user', default: 'Confirm?' )  } } cambia

  .columns.has-2{ data: { controller: 'events' } }
    #analisys-list.column
      %article.message
        .message-header= t(:analisys, scope: 'event.gender')
        .message-body
          %ul= render(partial: 'user_event', collection: @analisys.distinct, as: :event) || t('not_found', scope: 'event')
    #visit-list.column
      %article.message
        .message-header= t(:visit, scope: 'event.gender')
        .message-body
          %ul= render(partial: 'user_event', collection: @visits.distinct, as: :event) || t('not_found', scope: 'event')