.container
  .columns.has-2-tablet
    #informations.column
      %article.message
        .message-header= t('general_informations', scope: 'event')
        .message-body
          %ul
            %li.columns.is-mobile
              .column.is-4-desktop.is-5-tablet.has-text-left= fas_icon('calendar', text: t('date', scope: 'event')+': ')
              .column.has-text-left= l event.date_on
            %li.columns.is-mobile
              .column.is-4-desktop.is-5-tablet.has-text-left= fas_icon('medkit', text: t('type', scope: 'event')+': ')
              .column.has-text-left= t(event.gender, scope: 'event.gender')
            %li.columns.is-mobile
              .column.is-4-desktop.is-5-tablet.has-text-left= fas_icon('building', text: t('city', scope: 'event')+': ')
              .column.has-text-left= event.city.capitalize
            %li
              %a{ href: event_path(event), class: 'button is-fullwidth is-danger', data: { method: :delete, confirm: t('event.delete', scope: 'message'), turbo_frame: 'yield', turbo_method: 'DELETE' } }= fas_icon('trash', text: t('delete', scope: 'event') )
    .column= render 'events/summary', event: event