= turbo_frame_tag "#{dom_id(event)}" do
  .columns.row
    .column.is-2.is-vcentered.has-text-left
      %span.column.is-2.is-vcentered.is-hidden-tablet.has-text-left.has-text-weight-bold.is-inline= t('date', scope: 'event')
      = fas_icon('calendar', text: l(event.date_on))
    .column.is-1.is-vcentered.has-text-left
      %span.column.is-2.is-vcentered.is-hidden-tablet.has-text-left.has-text-weight-bold.is-inline Inizio
      = event.time(@user)
    .column.is-1.is-vcentered.has-text-left
      %span.column.is-2.is-vcentered.is-hidden-tablet.has-text-left.has-text-weight-bold.is-inline Tipologia
      = t(event.gender, scope: 'event.gender')
    .column.is-2.is-vcentered.has-text-left
      %span.column.is-2.is-vcentered.is-hidden-tablet.has-text-left.has-text-weight-bold.is-inline= t('city', scope: 'event')
      = t(event.city, scope: 'user.cities', default: event.city)
    .column.is-2.is-vcentered.has-text-left
      %span.column.is-2.is-vcentered.is-hidden-tablet.has-text-left.has-text-weight-bold.is-inline Stato
      = t(event.status(@user), scope: 'event.status')
    .column.is-2.is-vcentered.has-text-left
      %span.column.is-2.is-vcentered.is-hidden-tablet.has-text-left.has-text-weight-bold.is-inline= t('category', scope: 'audit')
      = event.categories(@user)
    .column.is-2
      - meetings = @user.meetings.where(event: event)
      - classes = 'is-link'
      - title = "Invia una e-mail di notifica"
      - if meetings.first.sended_at?
        - classes = ''
        - title = "Inviata il #{ l_long meetings.first.sended_at }"
      .is-hidden-mobile
        .buttons.has-addons.is-right
          - if @user.email.present?
            = link_to fas_icon('envelope'), confirmed_user_event_path(@user, event, zone: 'users'), method: :put, remote: true, id: "#{event.id}-sender", class: "sender tooltip button #{ classes }", data: { turbo_confirm: t('confirm', scope: 'message.email'), tooltip: title, turbo_method: 'PUT'}
          - else
            %button.button.is-borderless.tooltip.is-warning{ data: { tooltip: 'Indirizzo e-mail assente' } }= fas_icon('triangle-exclamation')
          = link_to fas_icon('trash'), user_event_meeting_destroy_path(@user, event, zone:'users'), method: :delete, class: 'button is-borderless tooltip is-danger', data: {disable_with: fas_icon( 'spinner pulse' ), turbo_confirm: t('delete', scope: 'message.meeting'), tooltip: 'Cancella evento', turbo_method: 'DELETE' }
      .is-hidden-tablet
        .buttons
          - if @user.email.present?
            = link_to fas_icon('envelope', text: meetings.first.sended_at? ? 'Email inviata' : 'Invia e-mail'), confirmed_user_event_path(@user, event, zone: 'users'), method: :put, remote: true, id: "#{event.id}-sender", class: "sender tooltip button #{ classes }", data: { turbo_confirm: t('confirm', scope: 'message.email'), tooltip: title, turbo_method: 'PUT'}
          - else
            %button.button.is-borderless.tooltip.is-warning{ data: { tooltip: 'Indirizzo e-mail assente' } }= fas_icon('triangle-exclamation')
          = link_to fas_icon('trash', text: 'Cancella evento'), user_event_meeting_destroy_path(@user, event, zone:'users'), method: :delete, class: 'button is-borderless tooltip is-danger', data: {disable_with: fas_icon( 'spinner pulse' ), turbo_confirm: t('delete', scope: 'message.meeting'), tooltip: 'Cancella evento', turbo_method: 'DELETE' }
