= turbo_frame_tag "#{dom_id(user)}_events", class: 'rows' do
  - events = user.events.future.distinct
  .list
    .columns.head.is-mobile
      .column.is-2.is-vcentered.has-text-left= t('date', scope: 'event')
      .column.is-1.is-vcentered.has-text-left.is-hidden-mobile Inizio
      .column.is-1.is-vcentered.has-text-left.is-hidden-mobile Tipologia
      .column.is-2.is-vcentered.has-text-left.is-hidden-mobile= t('city', scope: 'event')
      .column.is-2.is-vcentered.has-text-left.is-hidden-mobile Stato
      .column.is-2.is-vcentered.has-text-left.is-hidden-mobile= t('category', scope: 'audit')
      .column.is-2
  - unless events.blank?
    = render events
  - else
    .column.is-full.has-text-centered Nessun evento programmato