= turbo_frame_tag "#{dom_id(user)}_event_form" do
  = render 'messages' if view == 'modal'
  = form_with model: [user, event], url: user_events_path(user_id: user.id, filter: {view: view}) do |f|
    .columns
      .column.is-2-desktop
        .field
          %label.label.is-required= t('date', scope: 'event')
          .control.is-expanded= f.text_field :date_on, type: :date, class: 'input datepiker', value: Date.today.strftime('%Y-%m-%d'), data: { events_target: 'datepicker' }
      .column.is-1-desktop
        .field
          %label.label.is-required= 'Ora inizio'
          .control.is-expanded
            .select.is-fullwidth= f.select :start_at, timer, selected: Settings.events.ranges[0].start_time, include_blank: false, include_hidden: false
      .column.is-3-desktop
        .field
          %label.label.is-required= 'Tipologia'
          .control.is-expanded
            .select.is-fullwidth= f.select :gender, t_enum(Event.genders, 'meeting.gender'), include_blank: false
      .column.is-3-desktop
        .field
          %label.label.is-required= t('city', scope: 'event')
          .control.is-expanded
            .select.is-fullwidth= f.select :city, t_enum(User.cities, 'user.cities'), selected: user.city, include_blank: false
      .column.is-3-desktop
        .field
          %label.label.is-required= 'Stato'
          .control.is-expanded
            .select.is-fullwidth= f.select :state, t_enum(Meeting.statuses, 'meeting.status'), selected: 'proposed', include_blank: false
    .columns{ data: { controller: 'events' } }
      .column= f.select :ids, user.audits.map{|a| ["#{a.category.title} (#{l a.expire})", a.id ] if a.category.present? }.compact, {selected: user.audits.expired.ids}, {multiple: true, size: 4, data: { controller: 'form', form_target: 'listbox' }}
    .columns
      %br/
      .column= f.submit value: 'Salva', class: "button is-fullwidth is-medium is-link is-focused", data: { disable_with: 'Salvataggio in corso...' }
