.columns
  %section.column.is-3-tablet
    .is-sticky.pt-4
      %nav#calendar_legend.panel.filters.is-grey-dark
        %p.panel-heading= fas_icon('list', text: t('legend', scope: 'event'))
        %a.panel-block.columns.is-paddingless
          .column.is-2= fas_icon('hospital', style: "margin:0.5em;color:white;", span_style: 'button analisys')
          .column= t('analisys', scope: 'event.gender')+' '+t('confirmed', scope: 'event.status')
        %a.panel-block.columns.is-paddingless
          .column.is-2= fas_icon('user-md', style: "margin:0.5em;color:white;", span_style: 'button visit')
          .column= t('visit', scope: 'event.gender')+' '+t('confirmed', scope: 'event.status')
      %nav.panel.filters
        %p.panel-heading= fas_icon('calendar', text: t('event_waiting', scope: 'event'))
        .panel-block
          %a.button.is-small.is-warning.is-fullwidth{ href: home_meetings_path, data: { turbo_frame: 'meetings' }}= fas_icon( 'spinner', text: t('refresh') )
        = turbo_frame_tag 'meetings', class: 'rows', src: home_meetings_path, alt: 'Nessuna riga trovata' do
          .loading.has-text-centered= fas_icon 'cog fa-pulse', text: 'Caricamento in corso'
  %section#calendar.column{ data: { controller: 'calendar', calendar_target: 'calendar', calendar_url: events_path } }