#manual.columns
  .column.is-3
    %aside.menu.manual-menu
      %p.menu-label= t "home.books.editor.summary"
      %ul.menu-list
        %li
          = link_to fas_icon('book', text: t('Introduzione')), '#introduction', class: 'panel-block'
          %ul
            %li= link_to fas_icon('user', text: t('A chi si rivolge')), '#introduction_editor'
            %li= link_to fas_icon('laptop', text: t('Configurazione minima')), '#introduction_min_requirement'
            %li= link_to fas_icon('laptop', text: t('Configurazione consigliata')), '#introduction_requirement'
        %li
          = link_to fas_icon('calendar', text: t('Gestione eventi')), '#events'
          %ul
            %li= link_to fas_icon('list-alt', text: t('Riepilogo')), '#summary'
            %li= link_to fas_icon('wrench', text: t('Funzionalità')), '#functions'
            %li= link_to fas_icon('calendar', text: t('Calendario')), '#calendar'
        %li= link_to fas_icon('users', text: t('Gestione utenti')), '#users'
        %li
          = link_to fas_icon('wrench', text: t('Rischi e categorie')), '#risks_categories'
          %ul
            %li= link_to fas_icon('exclamation-triangle', text: t('Categorie di rischio')), '#categories'
            %li= link_to fas_icon('medkit', text: t('Rischi')), '#risks'
        %li= link_to fas_icon("bug", text: t('home.help.title')), '#help_bug'
  .column
    %h1.title.is-1.has-text-centered= t('title', scope: 'home.books.editor')
    %ul.manual-body
      %li
        %h3.title.is-3= link_to fas_icon('book', text: t('Introduzione')), '#introduction', :name => 'introduction'
        %p.has-text-justify
          Il progetto <b>#{Settings.long_title.to_s}</b> nasce all’interno di una nuova linea di sviluppo perseguita dal Settore Sviluppo e
          finalizzata al migliore utilizzo delle risorse interne contestualmente al miglioramento del livello di qualità dei servizi resi all’utenza.
          Il programma si pone l’obiettivo di ottimizzare la gestione delle scadenze in maniera trasparente e chiara per l’utente finale.
          %br
          Agli utenti, infatti, saranno resi disponibili strumenti con i quali verificare il proprio stato medico e le future scadenze.
          %br
          Si sottolinea infine che il programma di #{Settings.long_title.to_s} è parte di una più capillare riprogettazione dei servizi offerti nella intranet aziendale.
          %ul.child
            %li
              %h4.title.is-4= link_to fas_icon('user', text: t('A chi si rivolge il manuale intermedio?')), '#introduction_editor', :name => 'introduction_editor'
              %p.has-text-justify
                Questa parte del manuale è rivolta ai Gestori di Segreteria Medica che devono gestire le scadenze e programmare nuovi appuntamenti.
                %br
                Si presuppone, pertanto, che non sia necessario a questi utenti un riepilogo delle funzioni già ampiamente descritte nel #{link_to fas_icon('book', text: t('home.books.user.title')), page_path('user_manual')}.
            %li
              %h4.title.is-4= link_to fas_icon('laptop', text: t('Configurazione minima')), '#introduction_min_requirement', :name => 'introduction_min_requirement'
              %ul.circle.child
                %li Internet Explorer 11 o altro browser compatibile con  HTML 5 e CSS 3;
                %li Per qualsiasi versione Internet Explorer la modalità di compatibilità deve essere disattivata;
                %li Javascript abilitato;
                %li Cookie abilitati;
                %li Supporto ai certificati SSL;
                %li Accesso all’Intranet #{ Settings.group };
                %li Indirizzo di posta elettronica sul dominio #{ Settings.domain };
                %li Risoluzione schermo 1024x768.

            %li
              %h4.title.is-4= link_to fas_icon('laptop', text: t('Configurazione consigliata')), '#introduction_requirement', :name => 'introduction_requirement'
              %ul.circle.child
                %li Internet Explorer 11 o Firefox >= 50 o Safari >= 5 o Chrome >= 50 o browser e comunque compatibile con HTML5 e CSS3;
                %li Per qualsiasi versione Internet Explorer la modalità di compatibilità deve essere disattivata;
                %li Javascript abilitato;
                %li Cookie abilitati;
                %li Supporto ai certificati SSL;
                %li Accesso alla Intranet #{ Settings.group };
                %li Indirizzo di posta elettronica sul dominio #{ Settings.domain };
                %li Risoluzione schermo 1280x1024.
      %li
        %h3.title.is-3= link_to fas_icon('calendar', text: 'Gestione eventi'), '#events', :name => 'events'
        %p.has-text-justify
          Questo menù appare solamente se l'utente è abilitato e permette la gestione e la schedulazione degli appuntamenti per le visite e analisi.
          Per la gestione di tutte le funzionalità è necessario consultare il riepilogo dove si possono visualizzare gli utenti in scadenza e scaduti, gestire gli appuntamenti, i dettagli, le classi di rischio e le idoneità.
          Per semplificare e velocizzare la visualizzazione dello stato di prenotazione degli appuntamenti è stata creata anche la funzione "Calendario".
          %br
          Di seguito la descrizione in dettaglio delle funzionalità indicate:
          %ul.child
            %li
              %h4.title.is-4= link_to fas_icon("list-alt", text: t('Riepilogo eventi')), '#summary', :name => 'summary'
              %p.has-text-justify
                %ul.child.circle
                  %li.has-text-justify <b>Punto 1:</b> Clicca sul menù "Gestione eventi" e poi su riepilogo per visualizzare l'elenco di tutti gli utenti soggetti a <b>Sorveglianza sanitaria</b> divisi per data di scadenza;
                  %li.has-text-justify <b>Punto 2:</b> Cliccando su uno dei link presenti nel riquadro è possibile visualizzare un elenco filtrato degli utenti ordinati per data di scadenza, se presente, e cognome;
                  %li.has-text-justify <b>Punto 3:</b> In caso ci fossero appuntamenti in attesa di conferma, verranno elencate le date corrispondenti. Cliccando su ciascuna data verrà visualizzata una finestra di riepilogo con lo stato di tutti gli appuntamenti presenti nella data selezionata con i nomi degli utenti da convalidare o già confermati;
                  %li.has-text-justify <b>Punto 4:</b> Sono elencati tutti gli utenti filtrati secondo l'opzione scelta e ordinati per data, se disponibile, per cognome e nome;
                  %li.has-text-justify <b>Punto 5:</b> Indica l'elenco delle classi di rischio collegate a ciascun utente;
                  %li.has-text-justify <b>Punto 6:</b> Indica le opzioni disponibili per ciascun utente. Cliccando su ciascun bottone, si apriranno le funzionalità descritte nel paragrafo di seguito.
            %li
              %h4.title.is-4= link_to fas_icon("wrench", text: t('Funzioni disponibili per utente')), '#functions', :name => 'functions'
              %p.has-text-justify
                %ul.child.circle
                  %li.has-text-justify <b>Punto 1:</b> Cliccando su uno dei bottoni indicati al punto 6 del paragrafo precedente, si aprirà una schermata riepilogativa con il dettaglio dello stato dell'utente. In alto a sinistra è indicato il Cognome e il Nome dell'utente selezionato. A destra sono presenti diversi bottoni indicanti le altre funzionalità disponibili per l'utente selezionato;
                  %li.has-text-justify <b>Punto 2:</b> Nel riquadro sono elencate nel dettaglio le informazioni utente: Nome e Cognome, codice fiscale, matricola, e-mail, scadenza del contratto, stato di servizio(qualora fosse cessato o fosse stato disattivato su SPI apparirà un simbolo rosso), città, sede, interno telefonico, struttura di appartenenza;
                  %li.has-text-justify <b>Punto 3:</b> In questo elenco è elencato nel dettaglio lo stato di sorveglianza sanitaria dell'utente selezionato. Per ciascuna riga è possibile visualizzare l'ultimo stato(idone, non idoneo, ecc..) e la data calcolata dal sistema per la prossima visita di controllo. Qualora per l'utente non dovesse risutare nessuno stato pregresso, verrà visualizzata la dicitura "Appena creato". Per ogni stato è possibile definire un nuovo stato di idoneità dopo la visita di controllo del medico competente;
                  %li.has-text-justify <b>Punto 4:</b> Nel riquadro in basso sono elencate le date degli appuntamenti programmate per l'utente selezionato e lo stato di prenotazione. Qualora non fossero state programmate date per l'utente, il riquadro non sarà visibile;
                  %li.has-text-justify <b>Punto 5:</b> In alto a destra, cliccando sul bottone indicante la dicitura "Gestione eventi", sarà possibile schedulare gli appuntamenti di visita e di analisi per l'utente selezionato.

            %li
              %h4.title.is-4= link_to fas_icon("calendar", text: t('Calendario eventi')), '#calendar', :name => 'calendar'
              %p.has-text-justify
                Per semplificare la visualizzazione degli eventi schedulati, è presente la funzione Calendario. Selezionandola, dal menù "Gestioni eventi", verrà generato in tempo reale un calendario contenente gli appuntamenti di visite e analisi del mese e anno corrente con la possibilità di muoversi liberamente per visualizzare mesi antecedenti o successivi a quello indicato.
              %p.has-text-justify
                %ul.child.circle
                  %li.has-text-justify <b>Punto 1:</b> Cliccare sul menù "Gestione eventi" e sulla voce "Calendario";
                  %li.has-text-justify <b>Punto 2:</b> Indica la legenda del calendario;
                  %li.has-text-justify <b>Punto 3:</b> In caso ci fossero appuntamenti in attesa di conferma, verranno elencate le date corrispondenti. Cliccando su ciascuna data verrà visualizzata una finestra di riepilogo con lo stato di tutti gli appuntamenti presenti nella data selezionata con i nomi degli utenti da convalidare o già confermati;
                  %li.has-text-justify <b>Punto 4:</b> Bottoni per spostare avanti o indietro il mese;
                  %li.has-text-justify <b>Punto 5:</b> Indicazione del mese e anno caricato;
                  %li.has-text-justify <b>Punto 6:</b> Bottone rapido per tornare al mese corrente;
                  %li.has-text-justify <b>Punto 7:</b> Ogni appuntamento indicato nel calendario riporta la città in cui è schedulato l'evento, il numero di utenti invitati e il numero di utenti confermati.

      %li
        %h3.title.is-3= link_to fas_icon('users', text: 'Gestione utenti'), '#users', :name => 'users'
        %p.has-text-justify
          Tramite la gestione utenti è possibile ricercare velocemente l'utente di cui si desidera visualizzare lo stato. Le funzionalità a disposizione sono le medesime descritte nel paragrafo denominato "Riepilogo Eventi".
        %p.has-text-justify
          %ul.child.circle
            %li.has-text-justify <b>Punto 1:</b> Clicca sul menù "Gestione utenti" per visualizzare l'elenco di tutti gli utenti soggetti a <b>Sorveglianza sanitaria</b>;
            %li.has-text-justify <b>Punto 2:</b> Cerca l'utente che desideri scrivendo il Cognome e/o il nome nella casella e premi il tasto Invio sulla tastiera o clicca sul bottone con la lente d'ingrandimento;
            %li.has-text-justify <b>Punto 2-bis:</b> Se l'utente cercato non dovesse essere presente nel sistema, la sua assenza può dipendere da diversi fattori: utente non presente nel database del personale, utente rimosso dal database del personale, utente con contratto scaduto. Qualora un utente non sia presente perchè non possiede un contratto con #{ Settings.group } ma è comunque soggetto a sorveglianza sanitaria, è possibile aggiungerlo con il tasto "aggiungi utente" inserito a partire dalla versione 1.1.0 del programma.
            %li.has-text-justify <b>Punto 3:</b> Elenca le sedi dell'Istituto con il numero di dipendenti divisi per sede. Cliccando su una delle sedi, verranno visualizzati gli utenti appartenenti alla sede selezionata;
            %li.has-text-justify <b>Punto 4:</b> Elenca le categorie di rischio e accanto il numero di dipendenti trovati. Cliccando su una delle categorie di rischio, verranno visualizzati gli utenti appartenenti alla categoria selezionata;
            %li.has-text-justify <b>Punto 5:</b> Visualizza la lista degli utenti orientata per cognome. Per privacy la lista è stata oscurata;
            %li.has-text-justify <b>Punto 6:</b> Visualizza le classi di rischio collegate a ciascun utente;
            %li.has-text-justify <b>Punto 7:</b> Vengono visualizzate le funzionalità disponibili per ciascun utente: dettagli, classi di rischio, appuntamenti e cancellazione utente;

      %li
        %h5.title.is-5= link_to fas_icon("user") + fas_icon("plus") + t(' Nuovi utenti'), '#newuser', :name => 'newuser'
        %p.has-text-justify
          %p
            La gestione degli utenti (inserimento e aggiornamento delle informazioni), sono a carico del sistema che, con una procedura automatizzata,
            effettua una sincronizzazione con il database del personale e della Intranet. I nuovi utenti generati dalla procedura dovranno essere collegati a una o più
            categorie di rischio per poter essere gestiti. Tutto il personale presente nel sistema è anche presente nel database del personale.
          %p
            Può capitare però che non tutto il personale presente nel database del personale debba essere soggetto a controllo sanitario, pertanto è stata inserita la possibilità
            per le segretarie, di rimuovere tali utenti dal sistema.
          %p
            Dalla versione 1.1.0, invece, è stata aggiunta la possibilità, per le segretarie, di aggiungere anche utenti non presenti nel database del personale ma comunque soggetti
            a controllo medico periodico. Tale funzionalità, però, avrà funzionalità limitate a campi minimi richiesti per la creazione dei report annuali del medico in quanto, non potendosi
            collegare alla Intranet e al sistema del personale, non potrà ricavare alcuni dati necessari per attivare altre funzionalità.
          %p
            Il personale aggiunto manualmente non potrà, ad esempio, accede al sistema e quindi non potrà scegliere in autonomia le date di analisi e visita.
            Per fare ciò le segretarie dovranno avere uno scambio di email manuale con questi utenti.
          %p
            Il personale, aggiunto manualmente, qualora dovesse essere successivamente inserito nel database del personale riceverà gli aggiornamenti della propria utenza,
            come un qualsiasi altro utente e da quel momento gli verranno sovrascritti i dati inseriti manualmente con quelli corretti presi dai vari database sopra mensionati.
          %p.has-text-justify
            Di seguito i campi richiesti per inserire un nuovo utente:
          %ul.child.circle
            %li.has-text-justify Cognome;
            %li.has-text-justify Nome;
            %li.has-text-justify Codice fiscale;
            %li.has-text-justify E-mail;
            %li.has-text-justify Sede;
            %li.has-text-justify Sesso;
            %li.has-text-justify Note(facoltativo);
      %li
        %h3.title.is-3= link_to fas_icon('wrench', text: 'Rischi e categorie'), '#risks_categories', :name => 'risks_categories'
        %p.has-text-justify
          %ul.child
            %li
              %h4.title.is-4= link_to fas_icon("warning", text: t('Categorie di rischio')), '#categories', :name => 'categories'
              %p.has-text-justify
                Cliccando sul menù "Rischi e Categorie" e sulla voce del sottomenù "Categorie", viene caricato l'elenco in ordine alfabetico delle categorie disponibili. Per ogni categoria è possibile effettuare la modifica e la cancellazione.
                Cliccando sul bottone "Nuova Categoria" si aprirà un form per l'inserimento delle informazioni necessarie. Il form è identico anche in fase di modifica, la differenza è che in quest'ultimo caso i campi saranno già precompilari dei dati inseriti in precedenza.
                %ul.child.circle
                  %li.has-text-justify <b>Punto 1:</b> Titolo o nome della categoria da creare. In caso di modifica il campo sarà già precompilato dal nome della categoria che si sta modificando;
                  %li.has-text-justify <b>Punto 2:</b> Indicare la frequenza in mesi che deve intercorrere dall'ultimo controllo sanitario;
                  %li.has-text-justify <b>Punto 3:</b> In questo elenco vengono precaricati tutti i rischi presenti nella lista "Rischi" selezionabile dal medesimo menù. Qualora non fosse presente il rischio da collegare sarà comunque possibile inserire la categoria di rischio e modificarla successivamente quando il nuovo rischio sarà stato inserito. Per associare i rischi basterà selezionare la riga corrispondente al nome e automaticamente il sistema la sposterà nel riquadro a destra;
                  %li.has-text-justify <b>Punto 4:</b> Una volta completati i precedenti passaggi, cliccare sul bottone Crea/modifica categoria per salvare il lavoro. In caso di mancato salvataggio, il lavoro svolto andrà perduto.

            %li
              %h4.title.is-4= link_to fas_icon("medkit", text: t('Rischi')), '#risks', :name => 'risks'
              %p.has-text-justify
                Cliccando sul menù "Rischi e Categorie" e sulla voce del sottomenù "Rischi", viene caricato l'elenco in ordine alfabetico dei rischi disponibili. Per ogni rischio è possibile effettuare la modifica e la cancellazione.
                Cliccando sul bottone "Nuovo Rischio" si aprirà un form per l'inserimento delle informazioni necessarie. Il form è identico anche in fase di modifica, la differenza è che in quest'ultimo caso i campi saranno già precompilari dei dati inseriti in precedenza.
                %ul.child.circle
                  %li.has-text-justify <b>Punto 1:</b> Titolo o nome del rischio da creare. In caso di modifica il campo sarà già precompilato dal nome del rischio che si sta modificando;
                  %li.has-text-justify <b>Punto 2:</b> Se impostato su "NO", il rischio non verrà stampato nel report del dottore;
                  %li.has-text-justify <b>Punto 3:</b> In questo elenco vengono precaricati tutte le categorie presenti nella lista "Categorie" selezionabile dal medesimo menù. Qualora non fosse presente la categoria da collegare sarà comunque possibile inserire il rischio e modificarlo successivamente quando la categoria sarà stata inserita. Per associare le categorie basterà selezionare la riga corrispondente al nome e automaticamente il sistema la sposterà nel riquadro a destra;
                  %li.has-text-justify <b>Punto 4:</b> Una volta completati i precedenti passaggi, cliccare sul bottone Crea/modifica rischio per salvare il lavoro. In caso di mancato salvataggio, il lavoro svolto andrà perduto.
      %li
        %h3.title.is-3= link_to fas_icon('question-circle', text: 'Help'), '#help', :name => 'help'
        %p.has-text-justify
          Nella <i><b>SEZIONE DI HELP</b></i> sono presenti i link ai manuali, alla pagina che elenca le versioni rilasciate dal Settore Sviluppo e il link per segnalare direttamente al settore gli errori riscontrati.
          %ul.child
            %li
              %h4.title.is-4= link_to fas_icon("bug", text: t('home.help.title')), '#help_bug', :name => 'help_bug'
              %p.has-text-justify
                Cliccando sul link indicante la dicitura <i><b>#{t('home.help.title')}</b></i> sarai reindirizzato alla pagina del programma di assistenza GIRI per descrivere, in dettaglio, il problema riscontrato. Sarà considerata cosa gradita, dal Settore, se oltre a una descrizione il più dettagliata possibile venisse allegato anche un file contenente l'immagine dell'errore generato ove chiaramente possibile. Appena l'errore sarà risolto, verrà prontamente rilasciata una patch correttiva.<br />Grazie in anticipo per l'aiuto.