-# if audit.category.present?
- category = audit.category_id.present? ? Category.unscoped.find(audit.category_id) : :nil
- if category.present?
  %tr.audit{ id: dom_id(audit) }
    %td= category.title.to_s.titleize
    %td= category.protocol
    %td= t audit.status, scope: 'audit.status'
    %td
      - if  category.active?
        - pointer = response ? 'pointer' : 'default'
        %a{ class: "expire_date #{pointer}", data: { controller: 'audits', action: 'click->audits#editDateExpire', user_id: @user.id, audits_url: user_audit_path(user_id: @user.id, id: audit.id, log: true) } }= l_date audit.expire
      - else
        = l_date audit.expire
    %td.has-text-right
      - if response
        .is-hidden-mobile
          = link_to fas_icon('cog'), edit_user_audit_path(user_id: @user.id, id: audit.id, filter: {view: 'modal'}), class: 'button is-link', data: { turbo_frame: 'modal' }
        .is-hidden-tablet
          = link_to fas_icon('cog', text: 'Gestisci idoneità'), edit_user_audit_path(user_id: @user.id, id: audit.id, filter: {view: 'modal'}), class: 'button is-link', data: { turbo_frame: 'modal' }
