- response = false unless defined? response
%article#audits.message
  .message-header Idoneità
  .message-body.is-paddingless.is-scrollable
    %table.table.is-striped.is-narrow.is-hoverable.is-fullwidth
      %thead
        %tr
          %th= t('title', scope: 'category')
          %th= t('protocol', scope: 'category')
          %th= t('state', scope: 'audit')
          %th{ style: "width:10rem;" }= t('next_visit', scope: 'audit')
          %th
      - if @audits.present?
        %tbody= render @audits
      - else
        .column.is-full.has-text-centered  Nessuna categoria di rischio selezionata